<footer>
		{{#biggles}}
			<aside class="personal">
			<a href="#" class="profile_link">
				<img src="http://pbs.twimg.com/profile_images/479417817536536576/oWp4yM4M_bigger.png" onerror="this.classList.add('error')">
				
				{{biggles}}</a>
				
			<a href="#" class="sign_out_link">Sign out</a>
			</aside>

			<p>Powered by {{biggles}}.</p>
		{{/biggles}}

		Lol: {{vars:args}}
		22{{resource_name}}33
</footer>
<script src="/clientside/script.js"></script>
<script src="/tekxt/loader.dev.js" id="editor-loader"></script>
		
</body>