<head>
	<title>Postgres</title>

	<link rel="stylesheet" href="/stylesheets/style.css" />
	<meta charset="utf-8" /> 
</head>

<body>
	<header>
		<h1>Our site is great </h1>
	</header>
		{{#meta:parent_resource}}
			<aside class="aside">
				<a href="..">Go back</a>
			</aside>
			<div class="breadcrumbs">
				<h2>
					<a href="/" class="home">Home</a>

					{{#meta:grandparent_resource}}
						<a href="{{meta:back}}../../../..">{{meta:grandparent_resource_name}}</a> 
						/
						{{#meta:grandparent_structure}}
							{{#is_title}}
								<a href="{{meta:back}}../../..">{{meta:grandparent_resource:by:name}}</a> 
							{{/is_title}}
						{{/meta:grandparent_structure}}
						/
					{{/meta:grandparent_resource}}


					{{#meta:parent_resource}}

								<a href="{{meta:back}}../..">{{meta:parent_resource_name}}</a> 
								/
								{{#meta:parent_structure}}
									{{#is_title}}
										<a href="{{meta:back}}..">{{meta:parent_resource:by:name}}</a> 
									{{/is_title}}
								{{/meta:parent_structure}}

					{{/meta:parent_resource}}
					
					{{#meta:back}}
						/
						<a href="{{meta:back}}">{{meta:resource_name}}</a>
					{{/meta:back}}
				</h2>
			</div>
		{{/meta:parent_resource}}
		{{^meta:parent_resource}}
			{{#meta:back}}
				<aside class="aside">
					<a href="{{meta:back}}">Go back</a>
				</aside>
				<div class="breadcrumbs">
					<h2>
						<a href="/" class="home">Home</a>
						<a href="{{meta:back}}">{{meta:resource_name}}</a>
						{{#meta:id}}
							{{^meta:action:show}}
								/
								{{#meta:columns}}
									{{#is_title}}
										{{#parent::item:by:name}}
											<a href=".">{{parent::item:by:name}}</a> 
										{{/parent::item:by:name}}
									{{/is_title}}
								{{/meta:columns}}
							{{/meta:action:show}}
						{{/meta:id}}
					</h2>
				</div>
			{{/meta:back}}
		{{/meta:parent_resource}}

		{{#meta:action:show}}
			<nav class="secondary">
			{{#meta:references}}
				<a href="./{{table_name}}/">{{table_name}}</a>
			{{/meta:references}}
			</nav>
		{{/meta:action:show}}
{{#vars:flash}}
	<div class="message">
		<span class="own flash">
			{{vars:flash}}
		</span>

		{{#vars:undo}}
			<a href="{{vars:undo}}/undo" class="undo">Undo</a>
		{{/vars:undo}}
		{{^vars:undo}}
			<a href="./undo" class="undo">Undo</a>
		{{/vars:undo}}
	</div>
{{/vars:flash}}
{{^vars:flash}}
	{{#parent:flash}}
	<div class="message">
		<span class="parent flash">
			{{parent:flash}}
		</span>

	</div>
	{{/parent:flash}}
{{/vars:flash}}

{{vars:query}}