<html>
<head>
	<title>Konstruxi</title>

	<link rel="stylesheet" href="/clientside/style.css" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/tekxt/content.css" charset="utf-8" />
  <link rel="stylesheet" href="/tekxt/flexbox.css" />
  <link rel="stylesheet" href="/tekxt/chrome.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{{#vars:flash}}
<!-- Purge cache in parent resources -->
	<img src="../purge" style="position: absolute; visibility: hidden; height: 0; width: 0;" />
	{{#vars:second}}
		{{#meta:second}}
			<img src="../../purge" style="position: absolute; visibility: hidden; height: 0; width: 0;" />
			<img src="../../../purge" style="position: absolute; visibility: hidden; height: 0; width: 0;" />
		{{/meta:second}}
	{{/vars:second}} 
{{/vars:flash}}

<header>
	<h1>Our site is great </h1>
</header>

<aside class="aside">
	<a href="{{meta:back}}">Go back</a>
</aside>
<ul class="breadcrumbs">
	<li class="home">
		<a href="/" class="home">Home</a>
	</li>

	{{#meta:third_resource}}
		<li>	
			{{#vars:resource}}
				<a href="{{meta:base}}../../../.." class="folder">{{meta:first_resource}}</a> 
				/
				{{#meta:grandparent_structure}}
					{{#is_title}}
						<a href="{{meta:base}}../../..">{{parent:by:name}}</a> 
					{{/is_title}}
				{{/meta:grandparent_structure}}
				/

			{{/vars:resource}}
			{{^vars:resource}}
				{{#meta:grandparent_structure}}
					{{#is_title}}
						<a href="{{meta:base}}../{{meta:first:slug}}">{{meta:first:by:name}}</a> 
					{{/is_title}}
				{{/meta:grandparent_structure}}
			{{/vars:resource}}
		</li>
	{{/meta:third_resource}}


	{{#meta:second_resource}}
		<li>	
			{{#vars:resource}}
				<a href="{{meta:base}}../.." class="folder">{{meta:second_resource}}</a> 
				/
				{{#meta:parent_structure}}
					{{#is_title}}
						<a href="{{meta:base}}..">{{meta:second:by:name}}</a> 
					{{/is_title}}
				{{/meta:parent_structure}}
				/
			{{/vars:resource}}
			{{^vars:resource}}
				{{#meta:parent_structure}}
					{{#is_title}}
						<a href="{{meta:base}}{{meta:second:slug}}">{{meta:second:by:name}}</a> 
					{{/is_title}}
				{{/meta:parent_structure}}

			{{/vars:resource}}
		</li>
	{{/meta:second_resource}}
		
	{{#vars:slug}}
		{{#vars:resource}}
			<li>
			{{#meta:back}}
				<a href="{{meta:base}}" class="folder">{{vars:resource}}</a>
			{{/meta:back}}
			</li>
		{{/vars:resource}}
	{{/vars:slug}}
</ul>

{{#meta:action:show}}
	<nav class="secondary">{{#meta:references}}
		<a href="./{{table_name}}/">{{table_name}}</a>
	{{/meta:references}}</nav>
{{/meta:action:show}}

{{#vars:flash}}
	<div class="message">
		<span class="own flash">
			{{vars:flash}}
		</span>

		{{#vars:undo}}
			<a href="{{vars:undo}}/undo" class="undo">Undo</a>
		{{/vars:undo}}
		{{^vars:undo}}
			<a href="./undo" class="undo">Undo</a>
		{{/vars:undo}}
	</div>
{{/vars:flash}}
{{^vars:flash}}
	{{#parent:flash}}
	<div class="message">
		<span class="parent flash">
			{{parent:flash}}
		</span>

	</div>
	{{/parent:flash}}
{{/vars:flash}}
