
<section class="summary{{#item.errors}} errors{{/item.errors}}">
	<h1>{{title}}</h1>

	<menu type="context">
		<li><a href="?method=delete">Delete</a></li>
		<li><a href="./edit">Edit</a></li>
	</menu>
</section>
<section class="details">
	<dl>
{{#item}}
	{{#meta:columns}}
		{{#type:string}}
			{{#parent:by:name}}
				<dt>{{name}}</dt>
				<dd>{{parent:by:name}}</dd>
			{{/parent:by:name}}
		{{/type:string}}
		{{#type:text}}
			{{^name:slug}}
				{{#parent:by:name}}
					<dt>{{name}}</dt>
					<dd>{{parent:by:name}}</dd>
				{{/parent:by:name}}
			{{/name:slug}}
		{{/type:text}}
	{{/meta:columns}}
{{/item}}
	</dl>
</section>

{{#item}}
	{{#meta:columns}}
		{{#type:xml}}
			{{^name:slug}}
				{{#parent:by:name}}
					<article class="content">{{parent:by:name:HTML}}</article></dd>
				{{/parent:by:name}}
			{{/name:slug}}
		{{/type:xml}}
	{{/meta:columns}}
{{/item}}


<section id="meta" class="optional summary details">

	<menu type="context">
		<li><a href="#meta" class="more">Show more</a></li>
	</menu>
	<dl>
{{#item}}
	{{#meta:columns}}
		{{#type:integer}}
			{{#parent:by:name}}
				<dt>{{name}}</dt>
				<dd>{{parent:by:name}}</dd>
			{{/parent:by:name}}
		{{/type:integer}}
		{{#type:timestamp}}
			{{#parent:by:name}}
				<dt>{{name}}</dt>
				<dd>{{parent:by:name:DATETIME}} - 
				{{parent:by:name}}</dd>
			{{/parent:by:name}}
		{{/type:timestamp}}
	{{/parent::columns}}
{{/item}}
	</dl>
</section>
