body, html {
  padding: 0;
  margin: 0;
}

article {
  width: 100%;
}

*:not(svg) {
  box-sizing: border-box;
}


nav {
  width: 100%;
  text-align: center
}


#sectionizer {
  opacity: 1;
  z-index: 70;
}

#saver {
  opacity: 1;
  z-index: 60;
}

body.editing .sitemap .edit {
  opacity: 0;
}


article.loading > section:first-of-type > .toolbar svg,
header.loading > section:first-of-type > .toolbar svg,
.list.loading > header > .toolbar svg {
  animation: spinner .6s linear infinite;

}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

body.portal article.content.saving {
  z-index: 50;
  position: relative;
}
body.portal article.content,
body.portal .list.content,
body.portal .sitemap {
  outline: 0px solid transparent;
}
body.portal .sitemap.editing:not(.resources) {
  width: calc(100% - 4rem);
  outline: 1rem solid rgba(100,100,100,0.2);
  margin: 2rem;
}
body.portal .sitemap.editing.resources {
  margin-top: 2rem;
}
body.portal .sitemap.editing nav.main {
  display: none;
}


body.portal article.content[contenteditable="true"],
body.portal .list.content[contenteditable="true"] {
  outline: 1rem solid rgba(100,100,100,0.1);
}
body.portal article.content[contenteditable="true"].cke_focus,
body.portal .list.content[contenteditable="true"].cke_focus {
  outline: 1rem solid rgba(100,100,100,0.2);
}
body.portal .content[contenteditable="true"]:not(.loading) article > section,
body.portal .content[contenteditable="true"]:not(.loading) article > .list section,
body.portal .content[contenteditable="true"]:not(.loading) > .list section{
  opacity: 0.3;
  pointer-events: inherit;
}

body.portal .content[contenteditable="true"] article > section *{
  text-decoration: none;
}

.list {
  z-index: 2;
  width: 100%;
}

.list:empty {
  display: none;
}

.has-editor {
  position: relative;
  z-index: 20;
}

#layout-root {
  overflow-x: hidden;
}
#layout-root article[hidden] {
  display: none;
  opacity: 0;
}


body > svg, body > .icons {
  display: none;
}


article.content .list article.content  h1 {
  font-size: 1.7rem;
}

body:not(.undoable) #saver .undo{
  display: none;
}
body:not(.redoable) #saver .redo{
  display: none;
}
body.editing #layout-root .toolbar {
  pointer-events: none;
  opacity: 0;
}

body.editing #layout-root .content[contenteditable="true"] .toolbar{
  display: block;
  opacity: 1;
}
body.editing #layout-root .content[contenteditable="true"] .toolbar:not(.dragging){
  pointer-events: inherit;
}
body.editing #layout-root .content[contenteditable="true"] article .toolbar,
body.editing #layout-root .content[contenteditable="true"] header .toolbar{
  pointer-events: none;
  opacity: 0;
}
body.editing #layout-root .content[contenteditable="true"] .list .toolbar{
  pointer-events: none;
  opacity: 0;
}


.list > header {
  font-size: 2rem;
  padding: 1rem 0 2rem;
  white-space: nowrap;
}

.list > header a {
  text-decoration: none;
  color: #999;
}

.list > header a:hover {
  text-decoration: underline;
}


.list .list > header {
  font-size: 1.75rem;
  padding: 1rem 0 0;
  font-variant: small-caps;
  text-transform: lowercase;
}

.list .list > header + .new-post {
  margin-top: 1rem;
}
.list {
  padding-bottom: 2rem;
}


[contenteditable="false"] {
  pointer-events: none;
}

.dragging [contenteditable="false"] {
  pointer-events: inherit;
}

.list .list.empty {
  flex-basis: 220px;
  margin: 0 0.5rem;
}
.list .list.empty > header svg,
.list .list.empty > header a {
  opacity: 0.5;
}
.list .list.empty > header svg:hover,
.list .list.empty > header a:hover {
  opacity: 1;
}
.content .list.empty {
  margin-top: auto;
}
.content .list.empty > header a{
  pointer-events: none;
}
.content .list.empty ~ .list.empty{
  margin-top: 0;
}

/*avoid color animation when inserting new stuff*/
#layout-root section.new, 
#layout-root article.new,
#layout-root section.new > .foreground, 
#layout-root article.new > section > .foreground {
  transition: none;
  -webkit-transition: none;
}
.new-post .delete {
  display: none;
}
.editing-list .delete {
  display: none;
}

.sitemap.resources.editing {
  z-index: 20000;
  position: absolute;
}
.sitemap.resources.editing + .sitemap {
  padding-top: 4rem;
}

.sitemap > nav.main ul li{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0;
  padding: 0;
}
.sitemap > nav.main li.current > a {
  font-weight: bold;
} 
.sitemap > nav.main ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.sitemap > nav.main ul ul{
  display: none;
}
.sitemap.populated > nav.main li:hover ul {
  display: block;
  position: absolute;
  z-index: 100;
}
.sitemap.populated > nav.main:hover {
  position: relative;
  z-index: 100;
}

.sitemap > nav.main ul li li{
  display: block;
}

.sitemap > nav.main li a{
  display: inline-block;
  padding: 1rem;
}

.sitemap h1 {
  white-space: nowrap;
}
.sitemap header.content[contenteditable="true"]:not(.loading){
  margin-top: 0rem;
}
.sitemap header.content[contenteditable="true"]:not(.loading) section{
  margin-top: 1.5rem;
}
.sitemap header[contenteditable="true"] section {
  transition: border-color 0.3s, background-color 0.3s;
}
.sitemap header:not(:target):not([contenteditable="true"]),
.sitemap header:not(:target):not([contenteditable="true"]) section,
.sitemap header:not(:target).loading,
.sitemap header:not(:target).loading section {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background: none;
  display: inline-flex;
}
.sitemap {
  text-align: center;
}
.sitemap section{
  text-align: left;
}
.sitemap section h1 a {
  text-decoration: none;
}
.sitemap header.content:not(:target):not([contenteditable="true"]) .kx.foreground,
.sitemap header.content.loading:not(:target) .kx.foreground {
  top:0;
  bottom: 0;
  right: -1rem;
  left: -1rem;
  width: auto;
  height: auto;
  opacity: 0;
}

.sitemap header:not(.expanded):not([contenteditable="true"]) .kx.toolbar,
.sitemap header:not(.expanded).loading .kx.toolbar {
  margin-top: -0.5rem;
}
#layout-root .sitemap header:not(:target):not([contenteditable="true"]) h1,
#layout-root .sitemap header:not(:target).loading h1,
#layout-root .sitemap header:not(:target):not([contenteditable="true"]) [itempath*="summary"],
#layout-root .sitemap header:not(:target).loading [itempath*="summary"],
#layout-root .sitemap header:not(:target):not([contenteditable="true"]) section > a[href*="#"] {
  display: inline-block;
  width: auto;
  margin: 1rem auto 0;
  text-align: left;
  opacity: 1;
}
#layout-root .sitemap header:not(:target).loading [itempath*="summary"] {
  width: 102%;
  text-align: center;
}
#layout-root .sitemap.sitemap.sitemap header section > a[href*="#"] {
  text-align: center;
  opacity: 1;
  margin: 1rem auto 0;
  display: block;
  width: 100%;
}

#layout-root .sitemap header:not(:target):not([contenteditable="true"]) section > a:not([href*="#"]),
#layout-root .sitemap header:not(:target):not([contenteditable="true"]) section > picture,
#layout-root .sitemap header:not(:target).loading section > a:not([href*="#"]),
#layout-root .sitemap header:not(:target).loading section > picture {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  opacity: 1;
  flex-order: -1;
  border-radius: 50%;
  order: -1;
}

.sitemap header:not(:target):not([contenteditable="true"]) > section > :not(h1):not(.kx),
.sitemap header:not(:target):not([contenteditable="true"]) > section + section,
.sitemap header:not(:target).loading > section > :not(h1):not(.kx),
.sitemap header:not(:target).loading > section + section {
  display: none;
  opacity: 0;
}

.sitemap nav.main {
  font-size: 1.2rem;
}

#layout-root .sitemap header:not(:target) > section.has-picture:first-child .toolbar{
  top: 4.5rem;
  z-index: 10;
}
#layout-root .sitemap header[contenteditable="true"]:not(.loading) > section.has-picture:first-child .toolbar{
  top: 0rem;
  z-index: 10;
}
#layout-root .sitemap header > section.has-picture:first-child .toolbar{
  opacity: 0.01;
}
#layout-root .sitemap header:hover > section.has-picture:first-child .toolbar{
  opacity: 1;
}
.sitemap nav.main > ul > li > .list {
  display: none;
}
.sitemap nav.main > ul > li:hover .list {
  display: block;
  opacity: 1;
  width: 220px;
  position: absolute;
  z-index: 500;
  margin-top: -1rem;
  padding: 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.sitemap nav.main .section {
  padding: 0.5rem 1rem;
  margin: 0;
  text-align: left;
}
.sitemap nav.main .section:first-child {
  padding-top: 1rem;
}
.sitemap nav.main .section:last-child {
  padding-bottom: 1rem;
}

.sitemap nav.main .section > * {
  margin: 0;
  padding: 0;
}
.sitemap nav.main .section > h1 > a{
  margin: 0;
  padding: 0;
}
.sitemap nav.main .section > *:not(h1):not(h2) {
  display: none;
}


body.portal #layout-root article[itemtype="service"] > section {
  display: none;
}



.breadcrumbs li.home {
  display: none;
}
.breadcrumbs {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  padding: 1rem;
}
.breadcrumbs li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#layout-root aside.aside {
  display: none;
}